*~
TaskbarJFrameGrouping/.classpath
TaskbarJFrameGrouping/.project
TaskbarJFrameGrouping/.settings
TaskbarJFrameGrouping/bin
WindowGroupSetter/Debug
WindowGroupSetter/ipch
WindowGroupSetter/x64
WindowGroupSetter/*.sdf
WindowGroupSetter/WindowGroupSetter/Debug
WindowGroupSetter/WindowGroupSetter/x64
